# compiled source #
*.suo
*.exe
*.ilk
*.pdb
*.iobj
*.ipdb
*.pgd
*.obj
*.tlog
*.opendb
*.vc.db

# csv in src #
src/*.csv
!src/corr.csv
!src/ownership.csv
!src/players.csv
!src/output.csv

Release/*
Debug/*
x64/*
.vs/*
src/Debug/*
src/Release/*
src/x64/*
GeneratePlayerData/GeneratePlayerData/bin/*
src/*.user
*.txt

# OS gen #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db