# compiled source #
*.suo
*.exe
*.ilk
*.pdb
*.iobj
*.ipdb
*.pgd
*.obj
*.tlog
*.opendb
*.vc.db

# csv in progproblems #
progproblems/*.csv
!progproblems/corr.csv
!progproblems/ownership.csv
!progproblems/players.csv
!progproblems/output.csv

Release/*
Debug/*
x64/*
.vs/*
progproblems/Debug/*
progproblems/Release/*
progproblems/x64/*
GeneratePlayerData/GeneratePlayerData/bin/*
progproblems/*.user
playertargets.txt

# OS gen #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db